
<h2>showだよ。</h2>
<p><%= @user.id %></p>
<p><%= @user.email %></p>
<table>
	<% @user.articles.each do |article| %>
		<tr>
			<th>title</th>
			<th>author</th>
		</tr>
		<tr>
			<td><%= article.title %></td>
			<td><%= article.author %></td>
		</tr>
  <% end %>
	</tr>
</table>

